In [17]:
# dependencies
import pandas as pd

In [18]:
# import data
events_df = pd.read_csv('../../../Data/Tornadoes_1950_2024.csv', dtype={'FIPS': str})
fips_df = pd.read_csv('../../../Data/fips_data.csv', dtype={'FIPS': str})
scales_df = pd.read_csv('../../../Data/f_scales.csv')

In [32]:
# look into events
events_df.head()

,EVENT_ID,FIPS,BEGIN_TIMESTAMP,END_TIMESTAMP,DEATHS,INJURIES,DAMAGE_PROPERTY,DAMAGE_CROPS,TOR_F_SCALE,TOR_F_LEVEL,...,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE
0,10063615,29189,-630918000,-630918000,0,3,2500000,0,F3,3,...,NaN,NaN,0.0,NaN,NaN,38.77,-90.22,38.82,-90.12,NaN
1,10009710,17119,-630917400,-630917400,0,0,250000,0,F3,3,...,NaN,NaN,0.0,NaN,NaN,38.82,-90.10,38.83,-90.03,NaN
2,10009711,17135,-630914700,-630914700,0,3,250000,0,F3,3,...,NaN,NaN,0.0,NaN,NaN,39.10,-89.30,39.12,-89.23,NaN
3,10086808,39161,-630900000,-630900000,0,1,25000,0,F1,1,...,NaN,NaN,0.0,NaN,NaN,40.88,-84.58,NaN,NaN,NaN
4,9981922,05113,-630074100,-630074100,1,1,2500,0,F3,3,...,NaN,NaN,0.0,NaN,NaN,34.40,-94.37,NaN,NaN,NaN

In [19]:
# prints fips per df
print(events_df.FIPS.nunique())
print(fips_df.FIPS.count())
print(fips_df.FIPS.nunique())

3053
3295
3295

In [20]:
events_df.FIPS.value_counts()

FIPS
08123    290
48201    250
08121    209
12099    196
08001    190
        ...
34017      1
53073      1
51610      1
08015      1
54075      1
Name: count, Length: 3053, dtype: int64

## Get good fips df

In [21]:
# separate valid fips from invalid fips (two df's)
valid_fips = set(fips_df['FIPS'])

# bad fips df (FIPS not in valid_fips list) and opposite for good
bad_fips_df = events_df[~events_df['FIPS'].isin(valid_fips)].copy()
good_fips_df = events_df[events_df['FIPS'].isin(valid_fips)].copy()

In [22]:
# check good fips df count
print(good_fips_df.FIPS.nunique())
print(fips_df.FIPS.count())

3053
3295

In [23]:
# export temp csv file for testing
good_fips_df.to_csv('../../../Data/Temp_Tornadoes_1950_2024.csv', index=False)

## Look into bad fips df

In [24]:
# look at bad fips
pd.set_option('display.max_rows', None)  #display max rows
bad_fips_df.FIPS.unique()

array([], dtype=object)

In [25]:
# reset display max rows
pd.reset_option('display.max_rows')

In [26]:
# check amount of bad fips rows
bad_fips_df.EVENT_ID.count()

0

#### Find year of invalid fips

In [27]:
# convert timestamp to datetime
bad_fips_df['BEGIN_TIMESTAMP'] = pd.to_datetime(
    bad_fips_df['BEGIN_TIMESTAMP'],
    utc=True
)

In [28]:
# create year column
bad_fips_df['YEAR'] = bad_fips_df['BEGIN_TIMESTAMP'].dt.year

In [29]:
# see years affected
bad_fips_df.YEAR.unique()

array([], dtype=int32)

In [30]:
bad_fips_df.YEAR.value_counts()

Series([], Name: count, dtype: int64)

In [31]:
bad_fips_df.count()

EVENT_ID           0
FIPS               0
BEGIN_TIMESTAMP    0
END_TIMESTAMP      0
DEATHS             0
INJURIES           0
DAMAGE_PROPERTY    0
DAMAGE_CROPS       0
TOR_F_SCALE        0
TOR_F_LEVEL        0
TOR_LENGTH         0
TOR_WIDTH          0
BEGIN_RANGE        0
BEGIN_AZIMUTH      0
BEGIN_LOCATION     0
END_RANGE          0
END_AZIMUTH        0
END_LOCATION       0
BEGIN_LAT          0
BEGIN_LON          0
END_LAT            0
END_LON            0
EVENT_NARRATIVE    0
YEAR               0
dtype: int64