In [2]:
import pandas as pd
import numpy as np
import os

In [14]:
state_fips_file = "../../../Data/cleaned_state.csv"
cz_fips_file = "../../../Data/fips_data.csv"

state_fips_df = pd.read_csv(state_fips_file, dtype=str)
cz_fips_df = pd.read_csv(cz_fips_file, dtype=str)
print(state_fips_df.head())
print(cz_fips_df.head())

  STATEFP STATE
0      01    AL
1      02    AK
2      04    AZ
3      05    AR
4      06    CA
    FIPS      COUNTYNAME STATE
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [15]:
state_fips_df['STATEFP'] = state_fips_df['STATEFP'] + "000"
state_fips_df['COUNTYNAME'] = 'unidentified county'
state_fips_df = state_fips_df.rename(columns={'STATEFP': 'FIPS'})
state_fips_df.head()

    FIPS STATE           COUNTYNAME
0  01000    AL  unidentified county
1  02000    AK  unidentified county
2  04000    AZ  unidentified county
3  05000    AR  unidentified county
4  06000    CA  unidentified county

In [19]:
new_cz_fips = cz_fips_df.merge(state_fips_df, on=["STATE", "FIPS", "COUNTYNAME"], how="outer")
new_cz_fips = new_cz_fips.sort_values("FIPS")
new_cz_fips

       FIPS           COUNTYNAME STATE
34    01000  unidentified county    AL
35    01001       Autauga County    AL
36    01003       Baldwin County    AL
37    01005       Barbour County    AL
38    01007          Bibb County    AL
...     ...                  ...   ...
2918  74300       Midway Islands    UM
3083  78000  unidentified county    VI
3084  78010     St. Croix Island    VI
3085  78020      St. John Island    VI
3086  78030    St. Thomas Island    VI

[3295 rows x 3 columns]

In [20]:
new_cz_fips.to_csv("../../../Data/new_fips_data.csv", index=False)